{% extends 'base.html.twig' %}

{% block title %}Hello HommeController!{% endblock %}

{% block body %}
<body>
   <section class="home">
       <div class="container post">
           <div class="post_home">
               <img src="../img/images2.jpeg">
           </div>
           <div class="post_info">
               <a href="" class="category_button">Code de la route</a>
               <h2 class="post_title">Le plaisirest permis</h2>
               <p class="post_body">
               Avec l’auto-école codecar l’apprentissage du code et de la conduite est plus simple, plus libre et plus transparent.
               </p>

              
           </div>

       </div>
   </section>
</body>


{% endblock %}
