/* body,html{
    margin: 0; 
}
.logo>img{
    width: 15rem;
    padding: 15px;
    margin-left: 10px;
    
}
.logo{
    display: flex;
    align-items: center;
}
.buttonnav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
    
}
.line{
    height: 2px;
    background-color: rgb(98, 98, 98);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 100%;
    
}
.menuItems{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 0;
    margin: 0;
}
.menuItems>li>a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.profil{
    background-color: #E50043;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 1.3rem;
    margin-right: 30px;
}
.deconnection{
    color: #009FE3;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 30px;
}
.menuItems>li>a:hover{
    color: #009FE3;
    transition: 0.3s;
}
a:active{
    color: #009FE3;
    
}
.table{
    border-color: black;
}

.formationMichel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 50px;
}

#formation>div>label
{
    display: block;
}

.btnFormationMichel
{
    margin-top: 20px ;
    border: solid 1px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    color: white;
    background: #E50043;
}
.btnFormationMichel>a
{
    text-decoration: none;
    color: white;
}

.btnDelete{
    border: solid 1px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
    background: #E50043;
}
.FormationIndex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
} */